#cabecera {
    background-color: #3aafa9;
    height: 70px;
}

body {
    font-family: "mons" !important;
}

@font-face {
    font-family: "mons";
    src: url(../fonts/Montserrat-Light.ttf);
}

.fondoAzul {
    background-color: #3aafa9 !important;
}

.btn {
    background-color: #3aafa9 !important;
    color: white !important;
}

.fondoBlanco {
    background-color: white !important;
}

.texto-color {
    color: #3aafa9;
}

.imagen-cartas {
    width: 400px;
}

.tamayo-carta {
    width: 400px;
    height: 400px;
}

.tamayo-carrito {
    width: 150px;
}

.precio-tamayo {
    width: 80px
}

a {
    color: #3aafa9 !important;
}

.tamayo-form {
    width: 30px;
}


i {
    font-size: 20px;
}