
<!DOCTYPE html>

<html lang="es" xmlns:th="http://www.thymeleaf.org">

    <body>
        <aside class="col-12 col-lg-2 d-flex flex-column gap-2" th:fragment="asideAdmin">

            <a href="/admin/ventasRealizadas" class="btn w-75 mx-auto" type="button">Ventas</a>
            <a href="/admin/perfilAdmin" class="btn w-75 mx-auto" type="button">Mis datos</a>
            <a href="/admin/estadisticas" class="btn w-75 mx-auto" type="button">Estadísticas</a>

            <hr>
            <a href="/admin/listaCliente/" class="btn w-75 mx-auto" type="button">Clientes</a>
            <a href="/admin/detalleAdminProducto/" class="btn w-75 mx-auto" type="button">Productos</a>
            <a href="/admin/detalleCategoria/" class="btn w-75 mx-auto" type="button">Categorías</a>
            <a href="/admin/detalleAdminAnimal/" class="btn w-75 mx-auto" type="button">Animales</a>
            <a href="/admin/listadoTipoAnimal/" class="btn w-75 mx-auto" type="button">Tipos de Animales</a>
            <a href="/admin/listaAdopciones/" class="btn w-75 mx-auto" type="button">Adopciones</a>

        </aside>

    </body>