#cabecera {
    background-color: #3aafa9;
    height: 70px;
}

@font-face {
    font-family: mons;
    src: url(../fonts/Montserrat-Regular.ttf);
}

body {
    font-family: mons !important;
}


#pie {
    background-color: #3aafa9 !important;
}

.btn {
    background-color: #3aafa9 !important;
    color: white !important;
}

.fondo{
    background-color: white !important;
}

.texto-color {
    color: #3aafa9;
}

.imagen-cartas {
    width: 400px;    
}

.tamayo-carta {
    width: 400px;
    height: 400px;
}

.tamayo-carrito {
    width: 80px;
}

.precio-tamayo {
    width: 80px
}

a {
    color: #3aafa9 !important;
}


i {
    font-size: 20px;
}