<!DOCTYPE html>
<html lang="es">
    <head th:replace="~{fragmentos/head::cabeza}"></head>
    <body class="d-flex flex-column justify-content-between min-vh-100">
        <header th:replace="~{fragmentos/headerAdmin::encabezadoAdmin}"></header>
        <div class="mx-auto w-50">
            <form th:action="@{/admin/agregarCliente/submit}"
            method="post" th:object="${cliente}" class="rounded-1 border">
				<input th:if="${cliente.id != 0}" type="hidden" name="id" th:field="*{id}">
                <div class="mb-3 mx-2 mt-2">
                    <label for="exampleInputNombreUsu" class="form-label">Nombre de usuario <span
                            class="text-danger">*</span> </label>
                    <input type="text" class="form-control" id="exampleInputNombreUsu" th:field="*{username}" aria-describedby="nombreUsuario"
                        required>
                </div>
                <div class="mb-3 mx-2">
                    <label for="exampleInputPassword1" class="form-label">Contraseña <span
                            class="text-danger">*</span></label>
                    <input type="password" class="form-control" th:field="*{password}" id="exampleInputPassword1"  required>
                </div>
            
                <div class="mb-3 mx-2">
                    <label for="exampleInputPassword2" class="form-label">Repetir Contraseña <span
                            class="text-danger">*</span></label>
                    <input type="password" class="form-control"  id="exampleInputPassword2" required>
                </div>
            
                <div class="mb-3 mx-2 mt-2">
                    <label for="exampleInputEmail" class="form-label">Correo electrónico<span
                            class="text-danger">*</span></label>
                    <input type="email" class="form-control" id="exampleInputEmail" th:field="*{email}" aria-describedby="email" required>
                </div>
            
                <div class="mb-3 mx-2 mt-2">
                    <label for="exampleInputNombre" class="form-label">Nombre <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleInputNombre" th:field="*{nombre}" aria-describedby="nombre" required>
                </div>
            
                <div class="mb-3 mx-2 mt-2">
                    <label for="exampleInputApellido" class="form-label">Apellido <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleInputApellido" th:field="*{apellido}" aria-describedby="apellido" required>
                </div>

                <div class="mb-3 mx-2 mt-2">
                    <label for="exampleInputTelefono" class="form-label">Teléfono <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleInputTelefono" th:field="*{telefono}" aria-describedby="telefono" required>
                </div>
            
                <div class="mb-3 mx-2 mt-2 d-flex">
                    <label for="exampleInputDNI" class="form-label">DNI <span class="text-danger">*</span></label>
                    <input type="text" class="form-control" id="exampleInputDNI" th:field="*{dni}" aria-describedby="DNI" required>
                
                    <label for="exampleInputFecha" class="form-label">Fecha nacimiento <span class="text-danger">*</span></label>
                    <input type="date" class="form-control"  th:field="*{fechaNacimiento}" id="exampleInputFecha" aria-describedby="fecha" required>
                </div>
            
                <button type="submit" class="btn mx-2 mb-2">Registrar</button>
            </form>
        </div>

        <footer th:replace="~{fragmentos/pie::pie}"></footer>
    </body>
</html>

