<!DOCTYPE html>
<html lang="es">
    <head th:replace="~{fragmentos/head::cabeza}"></head>
    <body class="d-flex flex-column justify-content-between min-vh-100 ">
        <header th:replace="~{fragmentos/header::encabezado}"></header>
        <div class="mt-4 flex-grow-1 container-fluid">
            <div class="row m-0">
                <aside class="col-12 col-lg-2 d-flex flex-column gap-2">

                    <a href="#" class="btn w-75 mx-auto" type="button">Mis pedidos</a>
                    <a href="#" class="btn w-75 mx-auto" type="button">Mis ventas</a>
                    <a href="#" class="btn w-75 mx-auto" type="button">Mis datos</a>

                    <hr>
                    <a href="pantallaAdminTrabaja.html" class="btn w-75 mx-auto" type="button">Clientes</a>
                    <a href="/admin/detalleAdminProducto" class="btn w-75 mx-auto" type="button">Productos</a>
                    <a href="/admin/detalleCategoria" class="btn w-75 mx-auto" type="button">Categorías</a>
                    <a href="/admin/detalleAdminAnimal" class="btn w-75 mx-auto" type="button">Animales</a>
                    <a href="/admin/listadoTipoAnimal" class="btn w-75 mx-auto" type="button">Tipos de Animales</a>
                </aside>

                <main class="col-12 col-lg-10">

                    <div class="mb-3 d-flex justify-content-end me-3 mt-3">
                        <input class="form-control me-2 w-50" type="text" placeholder="Buscar">
                        <button class="btn me-2" type="button"><i class="bi bi-search"></i></button>
                        <a th:href="@{/admin/agregarProducto}" class="btn btn-light d-flex align-items-center"
                            type="button">Añadir <i class="bi bi-plus-circle ms-2"></i>
                        </a>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead>
                                <tr class="text-center">
                                    <th>Nombre</th>
                                    <th>Descripción</th>
                                    <th>Precio</th>
                                    <th>Categoría</th>
                                    <th>&nbsp;</th>

                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each=" producto:${listaProductos}">
                                    <td th:text="${producto.nombre}">johnDoe</td>
                                    <td th:text="${producto.descripcion}">kjsdfhjsdhfjdgsfjg</td>
                                    <td class="text-center"
                                        th:text="${#numbers.formatDecimal(producto.precio, 1, 2 )+'€'}">40.23€</td>
                                    <td class="text-center" th:text="${producto.catProducto.nombre}">Alimentación</td>

                                    <td class="align-items-center fondo d-flex">
                                        <a th:href="@{/admin/detalleProducto?id={id}(id=${producto.id})}"><button
                                                class="btn text-black fondoBlanco" type="button"><i
                                                    class="bi bi-search"></i></button>
                                        </a>
                                        <a th:href="@{/admin/editarProducto/{id}(id=${producto.id})}">
                                            <button type="button" class="btn d-flex fondoBlanco">
                                                <i class="bi bi-pencil-square text-black"></i></button>
                                        </a>

                                        <a th:href="@{/admin/eliminarProducto/{id}(id=${producto.id})}"><i
                                                class="bi bi-trash text-black me-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>

        </div>

        <footer th:replace="~{fragmentos/pie::pie}"></footer>

    </body>
</html>