<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos/head::cabeza}"></head>
    <body class="d-flex flex-column justify-content-between min-vh-100">
        <header th:replace="~{fragmentos/headerAdmin::encabezadoAdmin}"></header>
        <div class="container-fluid mt-4 flex-grow-1">
            <div class="row m-0">
                <aside class="col-12 col-lg-2 d-flex flex-column gap-2">

                    <a href="#" class="btn w-75 mx-auto" type="button">Mis pedidos</a>
                    <a href="#" class="btn w-75 mx-auto" type="button">Mis ventas</a>
                    <a href="#" class="btn w-75 mx-auto" type="button">Mis datos</a>

                    <hr>
                    <a href="/admin/listaCliente" class="btn w-75 mx-auto" type="button">Clientes</a>
                    <a href="/admin/detalleAdminProducto" class="btn w-75 mx-auto" type="button">Productos</a>
                    <a href="/admin/detalleCategoria" class="btn w-75 mx-auto" type="button">Categorías</a>
                    <a href="/admin/detalleAdminAnimal" class="btn w-75 mx-auto" type="button">Animales</a>
                    <a href="/admin/listadoTipoAnimal" class="btn w-75 mx-auto" type="button">Tipos de Animales</a>
                </aside>

                <main class="col-12 col-lg-10">

                    <div class="mb-3 d-flex justify-content-end me-3 mt-3">
                        <input class="form-control me-2 w-50" type="text" placeholder="Buscar">
                        <button class="btn me-2" type="button"><i class="bi bi-search"></i></button>
                        <a th:href="@{/admin/agregarCliente}" class="btn btn-light d-flex align-items-center" type="button">Añadir
                            <i class="bi bi-plus-circle ms-2"></i>
                        </a>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Nombre Usuario</th>
                                    <th>Nombre</th>
                                    <th>Apellido</th>
                                    <th>Teléfono</th>
                                    <th>Email</th>
                                    <th>DNI</th>
                                    <th>Fecha nacimiento</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each=" cliente:${listaCliente}">
                                    <td th:text="${cliente.username}">candiac</td>
                                    <td th:text="${cliente.nombre}">candi</td>
                                    <td th:text="${cliente.apellido}">alcantarilla</td>
                                    <td th:text="${cliente.telefono}">603662811</td>
                                    <td th:text="${cliente.email}">candi@gmail.com</td>
                                    <td th:text="${cliente.dni}">47266135J</td>
                                    <td th:text="${#temporals.format(cliente.fechaNacimiento)}">20/02/2012</td>

                                    <td class="align-items-center fondo d-flex">
                                        <a th:href="@{/admin/editarCliente/{id}(id=${cliente.id})}">
                                            <button type="button" class="btn d-flex fondoBlanco">
                                                <i class="bi bi-pencil-square text-black"></i>
                                            </button>
                                        </a>
                                        <a th:href="@{/admin/eliminarCliente/{id}(id=${cliente.id})}"><i
                                                class="bi bi-trash text-black me-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <footer th:replace="~{fragmentos/pie::pie}"></footer>
    </body>
</html>