<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Detalle animal</title>
        <link th:href="@{/css/estilos.css}" href="../static/css/estilos.css" rel="stylesheet">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.2/font/bootstrap-icons.min.css">
        <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
        <link rel="icon" href="../static/img/logo.png" th:href="@{/img/logo.png}" type="image/x-icon">

    </head>
    <body class=" d-flex flex-column justify-content-between min-vh-100">
        <header th:replace="~{fragmentos/headerAdmin::encabezadoAdmin}"></header>
        <main class="container">
            <div class=" row">
                <div class="col-12 col-lg-4">
                    <img class="card-img-top tamayo-carta"
                        th:src="${#strings.isEmpty(producto.foto)} ? 'http://placehold.it/400x350' : ${producto.foto}"
                        src="../img/pipeta.webp" alt="Card image">
                </div>

                <div class="col-12 col-lg-8">
                    <div class="d-flex  align-items-center p-2 col-12 col-lg-2">
                        <a th:href="@{/admin/productoACarrito/{id}(id=${producto.id})}" class="btn btn-light rounded-circle"><i
                                class="bi bi-cart-plus"></i></a>
                        <h4 class="texto-color px-2" th:text="${#numbers.formatDecimal(producto.precio, 1, 2 )+'€'}">30.49€</h4>
                    </div>
                    <h3 class="texto-color" th:text="${producto.nombre}">FRONTLINE TRI-ACT PIPETAS ANTIPARASITARIAS PARA PERROS 20
                        - 40 KG</h3>

                    <p th:text="${producto.descripcion}">
                        Frontline Tri-Act es el antiparasitario para perros de última generación. Producto altamente innovador,
                        brinda una nueva protección total de amplio espectro frente a los párasitos externos (pulgas, garrapatas e
                        insectos voladores) con su fórmula repelente reforzada frente flebotomos y mosquitos. En forma de pipetas
                        de fácil aplicación, Frontline Tri-Act es un producto eficaz para la lucha global de los ectoparásitos en
                        el perro. Una simple aplicación mensual es eficaz para eliminar y prevenir los parásitos externos en tu
                        perro y las posibles reinfestaciones.
                    </p>
                </div>
            </div>
        </main>
        <footer th:replace="~{fragmentos/pie::pie}"></footer>
    </body>
</html>