<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos/head::cabeza}"></head>
    <body class=" d-flex flex-column justify-content-between min-vh-100">
        <header th:replace="~{fragmentos/header::encabezado}"></header>
        <main class="container">
            <div class=" row">
                <div class="col-12 col-lg-4">
                    <img th:src="${foto}" src="../img/pipeta.webp" class="w-100" alt="pipeta">
                </div>

                <div class="col-12 col-lg-8">
                    <div class="d-flex  align-items-center p-2 col-12 col-lg-2">
                        <a href="carrito.html" class="btn btn-light rounded-circle"><i class="bi bi-cart-plus"></i></a>
                        <h4 class="texto-color px-2" th:text="${#numbers.formatDecimal(precio, 1, 2 )+'€'}">30.49€</h4>
                    </div>
                    <h3 class="texto-color" th:text="${nombre}">FRONTLINE TRI-ACT PIPETAS ANTIPARASITARIAS PARA PERROS 20 - 40 KG</h3>
					
                    <p th:text="${descripcion}">
                        Frontline Tri-Act es el antiparasitario para perros de última generación. Producto altamente innovador,
                        brinda una nueva protección total de amplio espectro frente a los párasitos externos (pulgas, garrapatas e
                        insectos voladores) con su fórmula repelente reforzada frente flebotomos y mosquitos. En forma de pipetas
                        de fácil aplicación, Frontline Tri-Act es un producto eficaz para la lucha global de los ectoparásitos en
                        el perro. Una simple aplicación mensual es eficaz para eliminar y prevenir los parásitos externos en tu
                        perro y las posibles reinfestaciones.
                    </p>
                </div>
            </div>
        </main>
        <footer th:replace="~{fragmentos/pie::pie}"></footer>
    </body>
</html>