<!DOCTYPE html>
<html lang="es">
    <head th:replace="fragmentos/head::cabeza"></head>
    <body class="d-flex flex-column justify-content-between min-vh-100">
        <header th:replace="fragmentos/header::encabezado"> </header>
        <div class="mx-auto w-50">

            <h1>Añadir un producto</h1>

            <form th:action="addProducto" method="post" th:object="${productoForm}" class="border rounded-3">
                <div class="mb-3 mx-2 mt-2">
                    <label for="exampleInputnombreProd" class="form-label">Nombre
                        producto<span class="text-danger ms-1">*</span></label>
                    <input type="text" th:field="*{nombre}" class="form-control w-25"
                        id="exampleInputnombreProd" aria-describedby="nombre" required>
                </div>
    
                <div class="mb-3 mx-2 mt-2">
                    <label for="descripcion">Descripción<span
                            class="text-danger ms-1">*</span></label>
                    <textarea class="form-control w-100" rows="6" th:field="*{descripcion}" id="descripcion" name="text"
                        required></textarea>
                </div>
    
                <div class="mb-3 mt-2 mx-2 d-flex">
                    <label for="exampleInputPrecio" class="form-label me-2">Precio<span
                            class="text-danger ms-1">*</span></label>
                    <input type="text" class="form-control w-25 me-5" th:field=*{precio}  id="exampleInputPrecio"
                        aria-describedby="precio" required>
             
                    <label for="tipoProduct ">Tipo producto<span  class="text-danger">*</span></label>
                    <select id="tipoProduct" th:field="*{catProducto}" class="ms-2" name="tipoProduct">
                        <option th:each=" categoria : ${listaCat}" th:value="${categoria.id}" th:text="${categoria.nombre}" >Medicinas</option>
                    </select>
                </div>
    
                <div class="mb-3 mx-2 mt-2">
                    <label for="foto" class="form-label">Imagen<span
                            class="text-danger ms-1">*</span></label>
                    <input type="url" class="form-control w-100"  th:field="*{foto}" name="foto" id="foto">
                </div>
                <input type="submit" class="ms-2 mb-2" value="Añadir">
            </form>
        </div>
       
        <footer th:replace="fragmentos/pie::pie"></footer>
    </body>
</html>