<!DOCTYPE html>
<html lang="es">
	<head th:replace="~{fragmentos/head::cabeza}"></head>
    <body class=" d-flex flex-column justify-content-between min-vh-100">
        <header id="cabecera" class="text-light">
            <div class="container-fluid p-2 text-center">
                <h2 class="texto">
                    <img class="me-3" src="../img/logo.png" width="40px" alt="huella animal">
                    Patitas felices
                </h2>
            </div>
        </header>

        <main class="container-fluid" id="cuerpo">
            <div class="w-25 mx-auto ">
                <form class="rounded-1 border" method="POST" th:action="@{/login}">
                    <div class="mb-3 mx-2 mt-2">
                        <label for="username" class="form-label">Nombre de usuario</label>
                        <input type="text" name="username" class="form-control" id="username" aria-describedby="nombreUsuario">

                    </div>
                    <div class="mb-3 mx-2">
                        <label for="password" class="form-label">Contraseña</label>
                        <input type="password" name="password" class="form-control" id="password">
                    </div>
                    <button type="submit" class="btn mx-2 mb-2">Entrar</button>

                    <p class="mx-2">Si no estas registrado <a href="registro.html">pincha aquí</a></p>
                </form>

            </div>
        </main>

		<footer th:replace="~{fragmentos/pie::pie}"></footer>

    </body>
</html>