<!DOCTYPE html>
<html lang="es">
    <head th:replace="fragmentos/head::cabeza"></head>
    <body class="d-flex flex-column justify-content-between min-vh-100">
        <header th:replace="fragmentos/header::encabezado"> </header>
        <div class="container-fluid mt-4 flex-grow-1">
            <div class="row m-0">
                <aside class="col-12 col-lg-2 d-flex flex-column gap-2">

                    <a href="#" class="btn w-75 mx-auto" type="button">Mis pedidos</a>
                    <a href="#" class="btn w-75 mx-auto" type="button">Mis ventas</a>
                    <a href="#" class="btn w-75 mx-auto" type="button">Mis datos</a>

                    <hr>
                    <a href="pantallaAdminTrabaja.html" class="btn w-75 mx-auto" type="button">Clientes</a>
                    <a href="/detalleAdminProducto" class="btn w-75 mx-auto" type="button">Productos</a>
                    <a href="/detalleCategoria" class="btn w-75 mx-auto" type="button">Categoría</a>
                    <a href="/detalleAdminAnimal" class="btn w-75 mx-auto" type="button">Animales</a>
                    <a href="/detalleTipos" class="btn w-75 mx-auto" type="button">Tipo de Animal</a>
                </aside>

                <main class="col-12 col-lg-10">

                    <div class="mb-3 d-flex justify-content-end me-3 mt-3">
                        <input class="form-control me-2 w-50" type="text" placeholder="Buscar">
                        <button class="btn me-2" type="button"><i class="bi bi-search"></i></button>
                        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#modalCategoria">Añadir <i
                                class="bi bi-plus-circle ms-2"></i></button>
                        <div class="modal fade" id="modalCategoria" tabindex="-1" aria-labelledby="exampleModalLabel"
                            aria-hidden="true">
                            <form th:action="@{/agregarCategoria/submit}" method="post" th:object="${categoria}">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h5 class="modal-title fw-bold" id="exampleModalLabel">Nueva categoría</h5>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                            <div class="mb-3">
                                                <label for="recipient-name" class="col-form-label fw-bold">Nombre:</label>
                                                <input type="text" class="form-control" id="recipient-name" name="nombre"
                                                    required>
                                            </div>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="submit" class="btn">Enviar</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each=" categoria:${listaCateg}">
                                    <td th:text="${categoria.nombre}">Alimentos</td>

                                    <td class="align-items-center fondo d-flex">
                                        <a href="#">
                                            <button type="button" class="btn d-flex fondoBlanco">
                                                <i class="bi bi-pencil-square text-black"></i>
                                            </button>
                                        </a>

                                        <a href="#"><i
                                                class="bi bi-trash text-black me-2"></i>
                                        </a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>
        </div>
        <footer th:replace="fragmentos/pie::pie"></footer>
    </body>
</html>
