<!DOCTYPE html>
<html lang="es">
    <head th:replace="fragmentos/head::cabeza"></head>
    <body class="d-flex flex-column justify-content-between min-vh-100">
        <header th:replace="fragmentos/header::encabezado"> </header>
        <div class="container-fluid mt-4 flex-grow-1">
            <div class="row m-0">
                <aside class="col-12 col-lg-2 d-flex flex-column gap-2">

                    <a href="#" class="btn w-75 mx-auto" type="button">Mis pedidos</a>
                    <a href="#" class="btn w-75 mx-auto" type="button">Mis ventas</a>
                    <a href="#" class="btn w-75 mx-auto" type="button">Mis datos</a>

                    <hr>
                    <a href="pantallaAdminTrabaja.html" class="btn w-75 mx-auto" type="button">Clientess</a>
                    <a href="/detalleAdminProducto" class="btn w-75 mx-auto" type="button">Productos</a>
                    <a href="/detalleAdminAnimal" class="btn w-75 mx-auto" type="button">Animales</a>

                </aside>

                <main class="col-12 col-lg-10">

                    <div class="mb-3 d-flex justify-content-end me-3 mt-3">
                        <input class="form-control me-2 w-50" type="text" placeholder="Buscar">
                        <button class="btn me-2" type="button"><i class="bi bi-search"></i></button>
                        <button type="button" class="btn btn-light d-flex align-items-center " id="pie" data-bs-toggle="modal"
                            data-bs-target="#myModal">
                            Añadir <i class="bi bi-plus-circle ms-2"></i>
                        </button>

                    </div>

                    <!-- The Modal -->
                    <div class="modal" id="myModal">
                        <div class="modal-dialog modal-lg">
                            <div class="modal-content">

                                <!-- Modal Header -->
                                <div class="modal-header">
                                    <h4 class="modal-title">Añadir</h4>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                </div>

                                <!-- Modal body -->
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3 mx-2 mt-2 d-flex align-items-center">
                                            <label for="exampleInputApodo" class="form-label me-2">Apodo<span
                                                    class="text-danger ms-1">*</span></label>
                                            <input type="text" class="form-control w-50" id="exampleInputApodo"
                                                aria-describedby="apodo" required>

                                            <label for="exampleInputNombre"
                                                class="form-label me-2 ms-2">Nombre<span
                                                    class="text-danger ms-1">*</span></label>
                                            <input type="text" class="form-control w-50" id="exampleInputNombre"
                                                aria-describedby="nombre" required>
                                        </div>

                                        <div class="mb-3 mx-2 d-flex">
                                            <label for="exampleInputRaza" class="form-label me-2">Raza<span
                                                    class="text-danger ms-1">*</span></label>
                                            <input type="text" class="form-control w-50" id="exampleInputRaza"
                                                required>

                                            <div class="mb-3 mx-2 mt-2">
                                                <label for="tipoAnimal ">Tipo animal<span
                                                        class="text-danger ms-1">*</span></label>
                                                <select id="tipoAnimal" class="ms-2" name="tipoAnimal">
                                                    <option value></option>
                                                    <option value="tipoAnimal1">Perro</option>
                                                    <option value="tipoAnimal2">Gato</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="mb-3 mt-2 mx-2 d-flex">
                                            <div>
                                                <label for="sexo" class="form-label">Genero<span
                                                        class="text-danger ms-1">*</span></label> <br>
                                                <input type="radio" name="sexo" id="sexo" value="Hembra"> Hembra
                                                <input type="radio" name="sexo" id="sexo" value="Macho"
                                                    class="ms-2"> Macho
                                            </div>

                                            <div class="ms-5">
                                                <label for="adoptado" class="form-label">Adoptado<span
                                                        class="text-danger ms-1">*</span></label> <br>
                                                <input type="radio" name="adoptado" id="adoptado" value="si"> Sí
                                                <input type="radio" name="adoptado" id="adoptado" value="no"
                                                    class="ms-2"> No
                                            </div>

                                        </div>

                                        <div class="mb-3 mt-2 mx-2 align-items-center d-flex">

                                            <label for="exampleInputFecha" class="form-label">Fecha nacimiento<span
                                                    class="text-danger ms-1">*</span></label>
                                            <input type="date" class="form-control w-50 ms-2" id="exampleInputFecha"
                                                required>
                                        </div>

                                        <div class="mb-3 mx-2 mt-2">
                                            <label for="historia">Historia<span
                                                    class="text-danger ms-1">*</span></label>
                                            <textarea class="form-control" rows="6" id="historia"
                                                name="text"></textarea>
                                        </div>

                                        <div class="mb-3 mx-2 mt-2">
                                            <label for="veterinario">Aspectos veterinarios<span
                                                    class="text-danger ms-1">*</span></label>
                                            <textarea class="form-control" rows="6" id="veterinario"
                                                name="text"></textarea>
                                        </div>

                                        <div class="mb-3 mx-2 mt-2">
                                            <label for="foto" class="form-label">Imágen</label>
                                            <input type="text" class="form-control" name="foto" id="foto">
                                        </div>
                                    </form>
                                </div>

                                <!-- Modal footer -->
                                <div class="modal-footer">
                                    <button type="button" class="btn" data-bs-dismiss="modal">Añadir</button>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="table-responsive">
                        <table class="table table-bordered text-center">
                            <thead>
                                <tr>
                                    <th>Nombre</th>
                                    <th>Apodo</th>
                                    <th>Sexo</th>
                                    <th>Tipo animal</th>
                                    <th>Raza</th>
                                    <th>Fecha nacimiento</th>
                                    <th>Adoptado</th>
                                    <th>&nbsp;</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each=" animal:${listaAnimal}">
                                    <td th:text="${animal.nombre}">Luna</td>
                                    <td th:text="${animal.apodo}">Lunita la perra feliz</td>
                                    <td th:text="${animal.genero}">Hembra</td>
                                    <td th:text="${animal.tipoAnimal.tipo}">Hembra</td>
                                    <td th:text="${animal.raza}">Podenco</td>
                                    <td th:text="${animal.fechaNacimiento}">20/02/2012</td>
                                    <td th:text="${animal.adoptado}">Sí</td>

                                    <td class="align-items-center fondo d-flex">
                                        <a th:href="@{/detalleAnimal?id={id}(id=${animal.id})}"><button
                                                class="btn text-black fondoBlanco" type="button"><i
                                                    class="bi bi-search"></i></button></a>
                                        <button type="button" class="btn d-flex fondoBlanco" data-bs-toggle="modal"
                                            data-bs-target="#myModal2">
                                            <i class="bi bi-pencil-square text-black"></i>
                                        </button>
                                        <a href="#"><i class="bi bi-trash text-black"></i></a>

                                    </td>
                                    <div class="modal" id="myModal2">
                                        <div class="modal-dialog modal-lg">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Editar datos</h4>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                                </div>

                                                <!-- Modal body -->
                                                <div class="modal-body">
                                                    <form>
                                                        <div class="mb-3 mx-2 mt-2 d-flex align-items-center">
                                                            <label for="exampleInputApodo" class="form-label me-2">Apodo<span
                                                                    class="text-danger ms-1">*</span></label>
                                                            <input type="text" class="form-control w-50" id="exampleInputApodo"
                                                                aria-describedby="apodo" required>

                                                            <label for="exampleInputNombre"
                                                                class="form-label me-2 ms-2">Nombre<span
                                                                    class="text-danger ms-1">*</span></label>
                                                            <input type="text" class="form-control w-50" id="exampleInputNombre"
                                                                aria-describedby="nombre" required>
                                                        </div>

                                                        <div class="mb-3 mx-2 d-flex">
                                                            <label for="exampleInputRaza" class="form-label me-2">Raza<span
                                                                    class="text-danger ms-1">*</span></label>
                                                            <input type="text" class="form-control w-50" id="exampleInputRaza"
                                                                required>

                                                            <div class="mb-3 mx-2 mt-2">
                                                                <label for="tipoAnimal ">Tipo animal<span
                                                                        class="text-danger ms-1">*</span></label>
                                                                <select id="tipoAnimal" class="ms-2" name="tipoAnimal">
                                                                    <option value></option>
                                                                    <option value="tipoAnimal1">Perro</option>
                                                                    <option value="tipoAnimal2">Gato</option>
                                                                </select>
                                                            </div>
                                                        </div>

                                                        <div class="mb-3 mt-2 mx-2 d-flex">
                                                            <div>
                                                                <label for="sexo" class="form-label">Genero<span
                                                                        class="text-danger ms-1">*</span></label> <br>
                                                                <input type="radio" name="sexo" id="sexo" value="Hembra"> Hembra
                                                                <input type="radio" name="sexo" id="sexo" value="Macho"
                                                                    class="ms-2"> Macho
                                                            </div>

                                                            <div class="ms-5">
                                                                <label for="adoptado" class="form-label">Adoptado<span
                                                                        class="text-danger ms-1">*</span></label> <br>
                                                                <input type="radio" name="adoptado" id="adoptado" value="si"> Sí
                                                                <input type="radio" name="adoptado" id="adoptado" value="no"
                                                                    class="ms-2"> No
                                                            </div>

                                                        </div>

                                                        <div class="mb-3 mt-2 mx-2 align-items-center d-flex">

                                                            <label for="exampleInputFecha" class="form-label">Fecha
                                                                nacimiento<span class="text-danger ms-1">*</span></label>
                                                            <input type="date" class="form-control w-50 ms-2"
                                                                id="exampleInputFecha"
                                                                required>
                                                        </div>

                                                        <div class="mb-3 mx-2 mt-2">
                                                            <label for="historia">Historia<span
                                                                    class="text-danger ms-1">*</span></label>
                                                            <textarea class="form-control" rows="6" id="historia"
                                                                name="text"></textarea>
                                                        </div>

                                                        <div class="mb-3 mx-2 mt-2">
                                                            <label for="veterinario">Aspectos veterinarios<span
                                                                    class="text-danger ms-1">*</span></label>
                                                            <textarea class="form-control" rows="6" id="veterinario"
                                                                name="text"></textarea>
                                                        </div>

                                                        <div class="mb-3 mx-2 mt-2">
                                                            <label for="foto" class="form-label">Imágen</label>
                                                            <input type="text" class="form-control" name="foto" id="foto">
                                                        </div>
                                                    </form>
                                                </div>

                                                <!-- Modal footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-danger"
                                                        data-bs-dismiss="modal">Editar</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </main>
            </div>

        </div>

        <footer th:replace="fragmentos/pie::pie"></footer>

    </body>
</html>