<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos/head::cabeza}"></head>
    <body class=" d-flex flex-column justify-content-between min-vh-100">
        <header th:replace="~{fragmentos/headerCliente::encabezadoCliente}"></header>
        <div class="flex-grow-1">
            <div class="container">
                <div class="row">
                    <aside class="col-12 col-lg-3 mt-3">
                         
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action">Mis pedidos</a>
                            <a href="#" class="list-group-item list-group-item-action">Mis adopciones</a>
                            <a href="#" class="list-group-item list-group-item-action">Mis datos</a>
                        </div>
                        
                    </aside>
                    <main class="col-12 col-lg-9 mt-3">
                        <div class="d-flex align-items-center gap-3">
                                <img class="rounded-circle border" alt="usario" width="100" th:src="${cliente.foto}">
                                <div>
                                    <p th:text="${cliente.username}"><span class="texto-color">Nombre usuario:</span> 47266163J</p>
                                    <p th:text="${cliente.nombre}"><span class="texto-color">Nombre:</span> Candi</p>
                                    <p th:text="${cliente.apellido}"><span class="texto-color">Apellido:</span> Alcantarilla</p>
                                    <p th:text="${cliente.email}"><span class="texto-color">Email:</span> candicalado@gmail.com</p>
                                    <p th:text="${cliente.telefono}"><span class="texto-color">Teléfono:</span> 603662811</p>
                                    <p th:text="${cliente.dni}"><span class="texto-color">DNI:</span> 47266163J</p>
                                </div>
                        
                        </div>
                    </main>
                </div>
            </div>
        </div>
        <footer th:replace="~{fragmentos/pie::pie}"></footer>
    </body>
</html>
