<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">
    <head th:replace="~{fragmentos/head::cabeza}"></head>

    <body class=" d-flex flex-column justify-content-between min-vh-100">
        <header th:replace="~{fragmentos/header::encabezado}"></header>
        <div class="mt-3 flex-grow-1">
            <div class="row m-0">
                <aside class="container col-12 col-lg-2 d-flex gap-2 flex-column mt-3">
                    <a href="/mostrarProductos" class="btn w-75 ms-4" type="button">Todas</a>
                    <div th:each=" producto:${listaProductos}">
                        <a href="#" class="btn w-75 ms-4"
                            th:text="${producto.catProducto}  "
                            type="button">Pipetas</a>
                    </div>

                </aside>
                <main class="container col-12 col-lg-10 ">
                    <h1 class="texto-color text-center mt-4">Nuestros productos</h1>
                    <div class="row">
                        <div class="col-12 col-lg-4 p-3" th:each="producto:${listaProductos}">
                            <div class="card imagen-cartas">
                                <img class="card-img-top tamayo-carta" th:src="${producto.foto}" src="../img/pipeta.webp"
                                    alt="Card image">
                                <div class="card-body">
                                    <h4 class="card-title" th:text="${producto.nombre}">producto</h4>
                                    <p class="card-text" th:text="${#numbers.formatDecimal(producto.precio, 1, 2)+' €'}">30.20</p>
                                    <a th:href="@{/detalleProducto?id={id}(id=${producto.id})}" class="btn btn-light">Leer más</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </main>
            </div>
        </div>
        <footer th:replace="~{fragmentos/pie::pie}"></footer>
    </body>
</html>